@font-face {
  font-family: 'founders-regular';
  src: url('fonts/FoundersGrotesk-Regular.otf') format('otf');
}

@font-face {
  font-family: 'agrandir-grandheavy';
  src: url('fonts/Agrandir-GrandHeavy.otf') format('otf');
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.slide {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 700vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}
.vh-center {
  margin: auto 5%;
  width: 40%;
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.one {
  background: #262626;
}
.two {
  background: #262626;
}
.three {
  background: #262626;
}
.four {
  background: #262626;
}
.five {
  background: #262626;
}
.six {
  background: #262626;
}
.seven {
  background: #262626;
}
.center {
  text-align: left;
  color: white;
  font-size: .85rem;
  font-family: 'founders-regular';
  line-height: 1.3rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  padding-left: 60px;
}

.headline {
  text-align: left;
  color: white;
  font-size: 3rem;
  font-family: 'agrandir-grandheavy';
  line-height: 1.3rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  padding-left: 60px;
}
